img {
  display: block;
  margin: auto;
  max-width: 100%; /* 确保图片不会超出容器 */
  height: auto;    /* 高度自动调整以保持比例 */
}
br {
    content: ""; /* 添加伪内容 */
    display: block;
    margin-bottom: 20px; /* 设置间距 */
  }

body {
  font-size: 17px; /* 全局字体大小 */
  background-color: #f8f9fa;
  font-family: 'LXGW WenKai', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  line-height: 1.8;
  color: #333;
  margin: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;

  .content {
    background: white;
    border-radius: 12px;
    overflow-wrap: break-word;

    h1, h2, h3 {
      line-height: 1.4;
      margin: 1.8em 0 1.2em;
      font-weight: 600;
      border-bottom: 2px solid #ecf0f1;
      padding-bottom: 0.6em;
    }
    

    p {
      font-size: 1.1rem;
      margin: 0 0 1.5em 0;
      letter-spacing: 0.02em;
    }

    ul {
      padding-left: 1.8rem;

      li {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        line-height: 1.8;

        &::marker {
          color: #3498db;
        }
      }
    }

    pre code {
      font-size: 16px;
      line-height: 1.5;
      display: block;
      white-space: pre-wrap;
    }

    @media (max-width: 768px) {
      body {
        font-size: 16px;
      }

      h1, h2, h3 {
        font-size: 1.5em;
        line-height: 1.4;
      margin: 1.8em 0 1.2em;
      font-weight: 600;
      border-bottom: 2px solid #ecf0f1;
      padding-bottom: 0.6em;
      }

      p {
        font-size: 1rem;
      }

      pre code {
        font-size: 14px;
      }
    }
  }
}
